@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E4EBF5 !important;
}
.newMorph{
  box-shadow: 4px 4px 8px 0 #565D6791, -5px -5px 9px 0 rgb(255, 255, 255, 0.75);
  border-radius: 25px;
  color: #2E3B65;
  background: transparent;
}
button.newMorph{
  border: none;
  padding: 10px;
  font-weight: bold;
}

h1{
  font-weight: bolder;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
